# Estructuras de datos
***
Hasta ahora sólo hemos guardado la información de pocos productos. Queremos almacenar otros, y es lógico que queramos hacerlo con orden, en un mismo lugar. En Python, podemos hacer uso de distintas estructuras de datos para ello. Por ejemplo, habíamos definido:

In [3]:
azucar = 9850.5
arroz = 9000.0

Pero podemos mantener ambos valores en una sola variable:

In [4]:
precios = [9850.50, 9000.0]
precios

[9850.5, 9000.0]

## Listas 
***
A diferencia de los tipos de datos que hemos visto anteriormente, este es un dato compuesto, formado por una estructura conocida como **lista**. Literalmente almacena una lista de datos, que pueden ser de cualquier tipo (incluyendo a otras listas!). En este caso, es una lista de numeros flotantes, pero podemos tener también:

In [5]:
lista = [25, "andrés", 300.21, [1,2,3]]
lista

[25, 'andrés', 300.21, [1, 2, 3]]

Podemos almacenar otros productos dentro de listas, esta vez limitado sólo a los nombres. Además ya conocemos el precio de los dos primeros, e incluimos precios del resto, así que creamos una lista de precios:

In [6]:
nombres = ["arroz","azucar","harina", "aceite"]  # nombres de cada producto
precios = [arroz, azucar, 12000, 18000]          # precios correspondientes a cada producto

Observa que podemos construir la lista **"precios"** usando otras variables definidas anteriormente (en este caso los precios de arroz y azucar, las colocamos directamente dentro de los corchetes).

***
> *Construye una lista que contenga tus datos personales como nombres, cedula, edad y cualquier otro:*

***

In [7]:
datos = ["Mariangely", 25, 19527052, "Carúpano, Sucre", 346.80]


#### Tamaño de la lista
¿Cuántos elementos tiene la lista? Podemos usar la función **len()**, que nos informa el número de elemento o "longitud" del objeto lista.

In [5]:
len(nombres)

4

In [6]:
len(precios)

4

***
> *Calcula cuántos elementos tiene la lista con tus datos personales! Guarda la variable y haz cualquier operación aritmética con ella.*

***

In [9]:
size = len(datos)
size*4 - 2

18

### Agregar más elementos

Supón que queremos agregar el precio de otro producto. Dentro del manejo de listas, fácilmente podemos anexar un nuevo elemento haciendo:

In [7]:
nombres.append("pasta")    # agregamos al final el producto "pasta"
nombres

['azucar', 'arroz', 'harina', 'aceite', 'pasta']

In [8]:
precios.append(11000)      # agregamos al final el precio 11000
precios

[9000.0, 9850.5, 12000, 18000, 11000]

La función **append()**, usada después del punto, colocará el nuevo elemento al final de la lista. 
***
> *Agrega otros datos en tu lista personal y muéstralos en pantalla:*

***

En la consola de Pyhton, podemos presionar la tecla **"tab"** o tabulador despues del punto al final del nombre de variable, en este caso *lista*, esto nos dará las opciones de funciones que podemos aplicar sobre el objeto. En el terminal de Python en linux, las opciones se desplegan como muestra la imagen siguiente.

![Autocompletado en el terminal](images/011-listatab.png)

En los cuadernos de Jupyter se puede hacer uso de la misma funcionalidad:

![Autocompletado en el terminal](images/010-listajupyter.png)

Ahora que ya conocemos las listas, aprovechemos de guardar más información relevante de nuestros productos. Para cada uno tenemos la tienda donde lo compramos, la dirección de la tienda y dos variables para indicar si hay estacionamiento y si el lugar tiene punto de venta. 

***
> *Puedes crear cualquier otra que creas que haga falta.*

***

In [9]:
# ahora construimos la lista con todos los nombres de las tiendas
tienda1 = "los chinos de la esquina"
tienda2 = "supermercado MUNDO"
tienda3 = "Abasto el rey"
tienda4 = "la bodega de Juan"

tiendas = [tienda1, tienda2, tienda3, tienda4]
tiendas

['los chinos de la esquina',
 'supermercado MUNDO',
 'Abasto el rey',
 'la bodega de Juan']

In [10]:
# construimos directamente la lista con las direcciones. En este caso, es una lista de cadenas.
direcciones = ["Avenida 5 CALLe 10", "av 4 calle 25 edif c", 
               "AV LORA CALLE 23", "av Don tulio edif Uno calle 32"]

# variables lógicas que indican False o True dependiendo 
# si hay o no estacionamiento o punto de venta en cada lugar.
estacionamientos = [True, True, False, False]
puntos = [True, False, True, False]

***
> *¿Se pueden arreglar las direcciones para que esten escritas de manera estándar? Prueba a usar las funciones de cadenas que vimos antes!*

***

### Ordenar la lista

Una tarea frecuente sobre una lista es ordenar sus elementos. La funcion **sort** los ordena, siempre y cuando sea posible. En la variable "numeros" almacenamos algunos elementos enteros y aplicamos la función:

In [10]:
numeros = [4,3,1,5,2]
numeros.sort()
numeros

[1, 2, 3, 4, 5]

La función **sort** actúa directamente sobre el mismo objeto, es decir, no hay necesidad de asignar el resultado a otra nueva variable, por eso podemos continuar usando "numeros", que ahora estará ordenado. Por defecto se ordena de menor a mayor.

***
> *Ordena nuestra lista de precios:*

***

In [12]:
precios.sort()
precios

[9000.0, 9850.5, 11000, 12000, 18000]

Para ordenarlos de mayor a menor, podemos hacer uso de la opción *reverse* de la función. Si configuramos esta opcíon con *True*, obtendremos el orden descendente de los elementos.

``` python
precios.sort(reverse = True)
```

### Otras operaciones
Podemos realizar otro tipo de operaciones con las listas. ¿Qué crees que resulte de la siguiente?:

In [11]:
lista + numeros

[25, 'andrés', 300.21, [1, 2, 3], 1, 2, 3, 4, 5]

El operador '+' permite en este caso concatenar o "pegar" los elementos de ambas listas en una sola, **no suma aritméticamente los elementos**.

***
> *"Suma" las listas anteriores en orden inverso. Prueba a concatenar tus datos personales con otra lista:*

***

Ya hemos visto que para acceder a elementos de la lista, usamos los corchetes y el índice que indica la posición del elemento.

In [14]:
precios[2] , nombres[2]

(11000, 'harina')

***
> *Accede a tu nombre o edad en tu lista personal. Modifica el valor de alguno de los elementos:*

***

Un detalle útil es que los índices negativos permiten acceder desde el último elemento de la lista. De manera que -1 indica "la primera posición desde el final", -2 indica el penúltimo, y así sucesivamente.

In [15]:
precios[-1], nombres[-1]

(18000, 'pasta')

***
> *Accede al antepenúltimo elemento de la lista de precios:*

***

### Subselección de listas

Si queremos acceder a una subsección de los datos, podemos acceder a ellos de la misma manera en que accedíamos al texto de cadenas de caracteres:

In [16]:
print(precios[1:3])  # desde la posición 1 hasta la 3 (es decir desde el segundo elemento hasta el cuarto)
print(precios[2:4])  
print(precios[:4])   # desde la posición inicial hasta la posición 4
print(precios[3:])   # desde la posición 3 hasta la posición final

[9850.5, 11000]
[11000, 12000]
[9000.0, 9850.5, 11000, 12000]
[12000, 18000]

***
> *Selecciona la primera mitad de los valores en tu lista personal:*

***

Podemos acceder de manera más específica, haciendo uso de un índice adicional:

In [12]:
items = list(range(20))    # lista de elementos del 0 al 19
items[3:len(items):2]      # subsección de la lista, desde la posición 3 hasta el final de la lista

[3, 5, 7, 9, 11, 13, 15, 17, 19]

![Pasos de subselección de lista](images/041-pasoslista.png)

El primer y segundo índice indican el inicio y el final de la subsección que queremos extraer (en este caso usamos la longitud completa de la lista). El último índice indica "el paso", es decir: cada cuántas posiciones del recorrido se escogerán los elementos, que en este caso es de dos en dos.
***
> *Haz una subselección de los precios y de tus datos personales con distintos pasos sobre los elementos:*

***

## Tuplas 
***
Agrupemos ahora algunos otros elementos:

In [18]:
t = (1, 2, 4, 5)
t

(1, 2, 4, 5)

In [19]:
s = {6, 7, 8, 9}
s

{6, 7, 8, 9}


Además de las listas, tenemos estos conjuntos de datos. ¿Cuál es la diferencia entre ellos?

La sucesión de números en **t** la creamos usando paréntesis, lo que indica una estructura de datos llamada **tupla**. Mientras que las llaves en la variable **s**, definen un **conjunto (set)**.

El acceso a los elementos de una **tupla** es similar al de las listas, la diferencia importante entre las tuplas y las listas está en que las primeras son inmutables, es decir una vez creadas, no se puede cambiar ni sus elementos ni su tamaño. También pueden crearse sin necesidad de usar los paréntesis:

In [20]:
t1 = 1, 2, 3, 4    # tupla creada sin paréntesis
len(t1)     # podemos aplicar funciones sobre ella

4

In [21]:
t1[0]     # y acceder a sus elementos mediante índices, al igual que las listas

1

In [22]:
t1[2] = 5    # la sobreescritura o modificación de elementos no está definida para las tuplas

TypeError: 'tuple' object does not support item assignment

Al intentar asignarle un nuevo valor a la posición 2 de la tupla, se genera un error informándonos que no puede aceptar asignación de nuevos elementos, por el tipo de estructura definida.

## Conjuntos (sets)
***

La variable **s**, al igual que las tuplas y listas, almacena elementos, pero en este caso elementos **sin orden** y **únicos**. Tal como el concepto matemático de conjuntos (set).

In [23]:
s = {1,2,3,4,4}     # creación de un conjunto, con llaves
s

{1, 2, 3, 4}

Nota que a pesar de que repetimos el número 4 al crear el set, automáticamente toma **sólo una vez** el elemento. Las operaciones matemáticas definidas sobre conjuntos también se pueden aplicar dentro de Python, con las funciones de unión, intersección, diferencia, entre otras.

***
> *¿Para qué tipos de datos crees que serviría usar un *set*? *

***

Supón que compraste ciertos artículos, y tu amigo compró algunos otros. Cuando comparamos ambas compras, podemos unirlas, o ver qué cosas distintas compraron:

In [24]:
mi_compra = {"arroz", "harina", "azucar", "papas"}    
su_compra = {"papas", "zanahorias", "harina", "aceite"}
mi_compra.union(su_compra)    # todos los artículos tuyos y de tu amigo (sin repetición)

{'aceite', 'arroz', 'azucar', 'harina', 'papas', 'zanahorias'}

In [25]:
mi_compra.intersection(su_compra)  # cosas que compraron en común

{'harina', 'papas'}

También se pueden utilizar estas funciones por medio de los operadores **&** y **|**, para intersección y unión, respectivamente, obteniendo el mismo resultado:

In [26]:
mi_compra | su_compra   # unión con el operador |

{'aceite', 'arroz', 'azucar', 'harina', 'papas', 'zanahorias'}

In [27]:
mi_compra & su_compra   # intersección con el operador &

{'harina', 'papas'}

Podemos averiguar cuáles artículos están en tu compra y obviar los que tienes en común con tu amigo. Es decir, qué artículos tuyos son diferentes de los de tu amigo. Para ello calculamos la diferencia de conjuntos:

In [28]:
# Diferencias o restas de conjuntos
mi_compra - su_compra     # uso del operador -

{'arroz', 'azucar'}

In [29]:
su_compra - mi_compra

{'aceite', 'zanahorias'}

Nota que en este caso la "resta" o diferencia no es conmutativa, es decir, $a-b \neq b-a$. Observa el resultado de las diferencias entre las compras tuyas y de tu amigo para comprobar. Esta operación también tiene una función explícita equivalente: **difference()**.

In [30]:
mi_compra.difference(su_compra)   # uso de función explícita

{'arroz', 'azucar'}

Para averiguar cuáles son los artículos de ambos mercados sin tomar en cuenta los que están repetidos, hacemos una diferencia simétrica de conjuntos. En Python se puede usar el operador **^** o la función **symetric_difference()**.

In [31]:
# Diferencia simétrica
mi_compra ^ su_compra

{'aceite', 'arroz', 'azucar', 'zanahorias'}

In [32]:
mi_compra.symmetric_difference(su_compra)

{'aceite', 'arroz', 'azucar', 'zanahorias'}

In [33]:
su_compra ^ mi_compra    # como es una operación simétrica, el orden de los factores no interesa

{'aceite', 'arroz', 'azucar', 'zanahorias'}

***
> 

***

## Diccionarios
***
Volviendo a la lista de precios de nuestros productos, construimos un contenedor con los datos que tenemos:

In [34]:
productos = {'azucar':9000.0, 'arroz':9850.5, 'harina':11000, 'aceite':12000, 'pasta':18000}
productos

{'aceite': 12000,
 'arroz': 9850.5,
 'azucar': 9000.0,
 'harina': 11000,
 'pasta': 18000}

Esta conveniente estructura de datos es llamada "diccionario" y almacena valores con sus respectivos nombres o "claves". Se crean como un **set o conjunto**, con pares **clave-valor** separados por comas. Los dos puntos separan la clave de su valor, respectivamente.

***
> *Construye un diccionario con tus datos personales, con pares **clave:valor** como  **'nombre': 'Andrés'**. *

***

La extracción o acceso a los valores se logra a través de las claves de cada elemento, entonces si queremos saber cuál es el precio del azúcar, escribimos:

In [35]:
productos["azucar"]

9000.0

***
> *Accede a algún valor de tu diccionario personal por medio de la clave.*

***

De la misma manera podemos cambiar los valores, y agregar nuevos pares **clave-valor**.

In [36]:
productos['azucar'] = 9500   # modifica el valor existente de "azucar"
productos['caraotas'] = 8000  # agrega un nuevo elemento clave:valor

Nota que también podemos usar comillas simples para el texto y funciona igualmente. En la última línea acabamos de incluir un nuevo producto junto con su precio:

In [37]:
productos

{'aceite': 12000,
 'arroz': 9850.5,
 'azucar': 9500,
 'caraotas': 8000,
 'harina': 11000,
 'pasta': 18000}

Esta estructura no toma en cuenta el orden de los elementos, lo que aumenta la eficiencia para manipular y realizar búsquedas dentro del diccionario. Si queremos verificar que uno producto está o no en nuestra compra, podemos utilizar el operador **in**. ¿Está azucar "en" (**in**) el diccionario "productos"?

In [38]:
"azucar" in productos

True

¿Has comprado aceite?

In [39]:
"aceite" in productos

True

Análogamente se puede usar el operador **```not in```**:

In [40]:
"pan" not in productos   # resulta en True porque pan no está en la lista

True

***
> *Verifica la existencia de datos dentro de tu diccionario personal.*

***

***
| [Atrás](Módulo I - 02 - Iniciando en Python.ipynb) | [Inicio](00 - Contenido.ipynb) | [Siguiente](Módulo II - 02 - Estructuras de datos y de control.ipynb)